<html>
    <head>
        <title>reset password</title>
    </head>
    <body>
        <form method="POST" action="passwordreset"
        {%csrf_token%}
        <p>UserName<input type="text" name="uname"></p><br>
        <p>Email<input type="text" name="email"></p><br>
        <p><label>newpassword</label><p>UserName<input type="password" name="password"></p>
        <input type="submit" value="send">
        {{errmsg}}
        <p><a href="{% url 'login'%}"><i>login</i></a></p>
    </form>
    </body>
    </html>